@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Box Model Fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Borders for Testing */
* {
  /* border: solid 1px pink; */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #000000;
}

nav ul {
  margin: 0;
  float: right;
  color: white;
  list-style-type: none;

  font-family: 'Quicksand', sans-serif;
}

nav li {
  float: left;
  padding: 1rem;
  width: 9rem;
  text-align: center;
  font-size: 1.25rem;
}

nav li:hover {
  background-color: green;
}

main {
  flex: 1;
  background: #161616;
}