/* Box Model Fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Borders for Testing */
* {
  /* border: solid 1px pink; */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 4rem;
  background: #000000;
}

main {
  flex: 1;
  background: #161616;
}

nav {
  float: right;
  color: white;
}

ul {
  list-style-type: none;
}